*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
    font-family: 'Allan';
}

body{
  background-color: #3c3939;
}

::selection{
  color: #3c3939;
  background-color: #1a8e88;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.container{
  /* border: 2px solid red; */
  width: 100%;
}

#main-heading{
  color: #1a8e88;
  font-size: 4.5em;
  text-align:center; 
  margin-bottom: .15em;
  padding: 0.2em;
  font-family: 'Allerta Stencil';
  background-color: #323030;
}

/* Congratulatory Message */

.result-section{
  width: 50%;
  margin: auto;
  border: 3px solid black;
  text-align: center;
  background: rgba( 26, 142, 136, 0.5 ); 
  border-radius: 10px; 

}
#result{
  font-size: 5em;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}


.display{
  display: none;
}

/* rounds */
#round{
  width: 70%;
  margin: auto;
  color: #1a8e88;
  text-shadow: 0px 0px 2px #000000;
  
}

/* dynamic data starts */
.data{
  /* border: 2px solid green; */
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1em;
}

.user-computer-guess{
  width: 25%;
  height: 50vh;
  /* border: 2px solid red; */
  align-items: center;
}

.data-text{
  font-size: 2em;
  font-weight: 800;
}

.user-image{
  border: 2px solid black;
  width: 100%;
  border-radius: 48px;
  background: linear-gradient(145deg, #403d3d, #363333);
  box-shadow:  22px 22px 44px #282626,
             -22px -22px 44px #504c4c;
  flex: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center ;
  user-select: none;
}

.user-image img{
  width: 60%;
}

.versus{
  width: 20%;
  /* border: 2px solid red; */
}

.versus img{
  width: 100%;
}

.computer-image{
  border: 2px solid black;
  width: 100%;
  border-radius: 48px;
  background: linear-gradient(225deg, #403d3d, #363333);
  box-shadow:  -22px 22px 44px #282626,
               22px -22px 44px #504c4c;
  flex: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center ;
  user-select: none;
}

.computer-image img{
  width: 60%;
}

.data-text-num{
  color:#1a8e88
}
/* dynamic data ends */

/* beat starts*/
#beat{
  font-weight: 1000;
  text-align: center;
  font-size: 2em;
  text-shadow: 0px 0px 2px #1a8e88;
}
/* beat ends */

/* choose weapon section starts */
.weapon{
  width: 100%;
  /* justify-content: center; */
  height: 15vh;
  gap: 1em;
}

#choose-weapon{
  width: 70%;
  margin: auto;
  color: #1a8e88;
  text-shadow: 0px 0px 2px #000000;
}

.selection-btn{
  /* border: 2px solid green; */
  width: 50%; 
  margin: auto;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

.selection-btn button{
  width: 16%;
  padding: 1em;
  cursor: pointer;
  border-radius: 2.8em;
  background: #4b4848;
  box-shadow: inset -22px -22px 44px #323030,
              inset 22px 22px 44px #646060;
  overflow: hidden;
  transition: transform 0.2s;
}

.selection-btn button:hover{
  transform: scale(0.9);
}

.selection-btn button img{
  /* width: 100%; */
  filter:drop-shadow(0px 0px 5px #1a8e88);
}
/* choose weapon section ends */


/* footer starts*/
.footer{
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: large;
  height: 4vh;
  background-color: #282626;
  color: #1a8e88;
}

#credit{
  display: inline-block;
  font-size: larger;
}
/* footer ends*/


/* Play again button starts */
/* using ready made css from Uiverse.io */
.btn {
  --border-color: linear-gradient(-45deg, #1cddd3, #3c3939, #07fbef);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #1dc9c1;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
  cursor: pointer;
  margin: 0.5em;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}